<!DOCTYPE html>
{% extends "posts/index.html" %}
{% block body %}
{% load static i18n %}


    <!-- Title Page -->
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url('{%  static 'images/DSC_5043_.jpg' %}');">
        <h2 class="tit6 t-center">
            Contact
        </h2>
    </section>



    <!-- Contact form -->
    <section class="section-contact bg1-pattern p-t-90 p-b-113">
        <!-- Map -->
        <div class="container">
            <div class="map bo8 bo-rad-10 of-hidden">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.7346338349757!2d4.370390015306532!3d50.836079067384794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c490887db5d7%3A0xd010e01a68280899!2sChauss%C3%A9e+de+Wavre+214B%2C+1050+Ixelles!5e0!3m2!1sen!2sbe!4v1554584063055!5m2!1sen!2sbe" width="1170" height="467" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="container">
            <h3 class="tit7 t-center p-b-62 p-t-105">
                Send us a Message
            </h3>

            <form id="loginform" class="wrap-form-reservation size22 m-l-r-auto" role="form" method = 'POST' id="loginform">
                {% csrf_token %}

                <div class="form-group has-errors text-danger small">

                {{form.error}}

                </div>  

                <div class="form-group has-errors text-danger small">

                {{error}}

                </div> 

                <div class="row">
                    <div class="col-md-4">
                        <!-- Name -->
                        <span class="txt9">
                            Name
                        </span>

                        <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20 form-control" type="text" name="name" placeholder="Name">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Email -->
                        <span class="txt9">
                            Email
                        </span>

                        <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20 form-control email-input" type="email" name="email" placeholder="Email">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Subject -->


                        <div class="navWrapOuter">
                          <div class="navWrapInner">
                            <ul class="navUL">
                              <li>
                                <a class="txt9">
                                        Subject
                                        <div class="blueBubble bubblePosition hoverBubble">
                                            <h3>Partnerships</h3>
                                             <p>  Do you have any suggestions or ideas for new activities?
                                               Do you know any Portuguese made products you’d like to promote?
                                               Do you know anyone, Portuguese or from a Portuguese speaking country, who has an artistic activity or hobby that you would like to present?

                                               Write to us with as much information as possible</p>
                                            <i class="fa fa-globe"></i>
                                        </div>
                                    </a>
                              </li>

                            </ul>
                          </div>
                        </div>

                        <div class="wrap-inputSubject size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            <input class="bo-rad-10 sizefull txt10 p-l-20 form-control" type="text" name="subject" placeholder="Subject">
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Message -->
                        <span class="txt9">
                            Message
                        </span>
                        <textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3 form-control" name="message" placeholder="Message"></textarea>

                    </div>
                </div>

                <div class="wrap-btn-booking flex-c-m m-t-13">
                    <!-- Button3 -->
                    <input type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4" value="Submit">
                </div>
            </form>

        </div>
    </section>

<script src="https://maps.google.com/maps/api/js?sensor=false"></script> 

{% endblock %}
