{% load static i18n %}

{% block head %}

{% endblock head %}

{% block flags %}

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{%  static 'css/flags.min.css' %}" />
<!--===============================================================================================-->
<script type="text/javascript" src='{%  static "js/jquery.flagstrap.min.js"%}'></script>
<!--===============================================================================================-->
<script type="text/javascript" src='{%  static "js/builddropdown.js"%}'></script>
<!--===============================================================================================-->
<script type="text/javascript" src='{%  static "js/lazyload.js"%}'></script>
<!--===============================================================================================-->
<script type="text/javascript" src='{%  static "js/toggleSidebar.js"%}'></script>
<!--===============================================================================================-->
<script type="text/javascript" src='{%  static "vendor/countdowntime/countdowntime_paulo_pego.js"%}'></script>
<script type="text/javascript" src='{%  static "vendor/countdowntime/historia_musicada.js"%}'></script>
<script type="text/javascript" src='{%  static "vendor/countdowntime/david_bastos.js"%}'></script>
<!--===============================================================================================-->

{% block doc_ready %}

{% include "snippets/on_doc_ready.html" %}

{% endblock doc_ready %}

{% endblock flags %}