{% extends "base.html" %}
{% load static i18n %}

{% block body %}

{% for event in events %}
{% load formatter %}

{% if is_mobile == True %}
<section class="section-event bg1-pattern p-t-150">
{% else %}
<section class="section-event bg1-pattern">
{% endif %}
    <div class="wrap-slick2">
        <div class="slick2">

            <div class="item-slick2 item{{ event.id }}-slick2"
                style=" background-image: url('{%  static 'images/icons/back2.jpg' %}'">

                <div class="wrap-content-slide2 p-t-115 p-b-5" style="box-shadow: 3px 3px 5px 6px #ccc;">

                    <div class="container">
                        <div class="title-event t-center m-b-52">
                            <a href="{{ event.get_absolute_url }}">
                                <h4 class="tit9">
                                    {{ event.title }}
                                </h4>
                            </a>
                            <div class="container">

                                <!-- SLIDER  -->
                                <div class="blo4 p-b-63 p-t-50">
                                    {% if event.image %}

                                    <div class="event-block pos-relative"
                                        style=" background-image: url({{ event.image.url }});"
                                        onclick="location.href='{{ event.get_absolute_url }}';">
                                        <div class="date-blo4 flex-col-c-m">
                                            <span class="txt30 m-b-4">
                                                {{ event.timestamp.day }}
                                            </span>
                                            <span class="txt31">
                                                {{ event.timestamp }}
                                            </span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="text-blo4 p-t-33">

                                        <div class="txt32 flex-w p-b-24" style="overflow: auto">
                                            <span>
                                                {% trans "written by" %} {{ event.user }}
                                            </span>
                                        </div>

                                        <p style="text-align: justify;">
                                            {{ event.content }}
                                        </p>
                                        <div class="txt32 flex-w p-t-24" style="overflow: auto">

                                            <span class="float-r" style="text-align: right; margin-left: auto;">
                                                {% trans "Last updated on:" %} {{ event.updated }}

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}

{% endblock %}